.mainBody {
  position: relative;
  top: 130px;
  height: auto;
  padding-bottom: 29px;
  background-color: #00615e67;
  width: 100%;
  color: white;
}

.info {
  padding-left: 10px;
}

.title {
  font-size: 15px;
  font-family: 'Arvo', serif;
}

.eachBook {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  background-color: #00615D;
}

.booksContainer {
  margin-top: 0px;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  border-radius: 15px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.cover {
  width: 80px;
}

.pageButtons {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.pages {
  border: none;
  width: 40px;
  height: 40px;
  background-color: #00615D;
  color: white;
  font-weight: 700;
}

.pages:hover {
  background-color: #00615e70;
  cursor: pointer;
}

.pages-first {
  border-radius: 10px 0px 0px 10px;
}

.pages-last {
  border-radius: 0px 10px 10px 0px;
}