.sidebar {
  position: relative;
  top: 130px;
  width: auto;
  height: auto;
  background-color: #002e2c;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  box-shadow: 2px 0px 10px 1px #002e2c;

}

label {
  display: flex;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  font-weight: 700;
}

input.checkbox {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  -webkit-appearance: none;
  background-color: white;
  border-radius: 5px;
}

input.checkbox:checked {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
}

.sideSubTitle {
  font-size: 18px;
  font-family: 'Arvo', serif;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.filterItem {
  font-size: 16px;
  line-height: 23px;
  padding-left: 30px;
  list-style: none;
  width: auto;
}

.filterItem:hover {
  cursor: pointer;
  color: #00cec7;
}